apiVersion: v1
kind: Service
metadata:
  name: paytrackr-service
  namespace: paytrackr
  labels:
    app: paytrackr
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: paytrackr
